.about {
    height: 100vh
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 2rem 2rem;
}

.custom-style {
    max-width: auto;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 2.813rem;
    background-image: linear-gradient( to right, rgb(117, 78, 249), #d784af ) !important;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: 0.4s;
  }

  .custom-style:hover {
    transform: skewX(3deg) skewY(4deg);
    text-shadow: 1rem 1rem 2rem rgb(0 0 0 / 20%);
  }
  
  @media (max-width: 767px) {
    .custom-style {
      font-size: 2rem;
    }
  }

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
  
  }

.about-items {
      margin-top: 3rem;
      text-align: center;   
  }

.about-title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

.about-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0px;
    margin: 0 20px;
    text-align: initial;
}

.info-img {
    width: 350px;
    margin: auto;
    animation: example 8s linear infinite;
 }

 @keyframes example {
    0%{
        transform: rotate(0);
     } 
    100%{
        transform: rotate(360deg);
     }
 }

 /*===========================
       6.PRICING css cube
===========================*/

.tech-cube {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    object-fit: scale-down;
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }
  
  @media (max-width: 768px) {
    .tech-cube {
      margin-top: 10vh;
    }
  }
  
  .cube {
    margin: auto;
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
  }
  
  .cube > div {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    border: solid 3px #754ef9;
    background-color: rgba(249, 243, 237, 0.7);
  }
  
  .front {
    transform: translateZ(100px);
    display: flex;
    align-items: center;
  }
  
  .front > img {
    width: 150px;
  }
  .left > img {
    height: 70% !important;
  }
  .back {
    transform: translateZ(-100px) rotateY(180deg);
    display: flex;
    align-items: center;
  }
  
  .back > img {
    width: 150px;
  }
  
  .right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
  }
  
  .right > img {
    width: 150px;
  }
  
  .left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    display: flex;
    align-items: center;
  }
  
  .left > img {
    width: 150px;
  }
  
  .top {
    transform: rotateX(-270deg) translateY(-100px);
    transform-origin: top center;
    display: flex;
    align-items: center;
  }
  
  .top > img {
    width: 150px;
  }
  
  .bottom {
    transform: rotateX(270deg) translateY(100px);
    transform-origin: bottom center;
    display: flex;
    align-items: center;
  }
  
  .bottom > img {
    width: 150px;
  }
  
  @keyframes rotate {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
  
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  
  .cube {
    animation: rotate 10s infinite linear;
  }
  
  /* adding hover effect */
  .tech-cube:hover .front {
    transform: translateZ(200px);
  }
  
  .tech-cube:hover .back {
    transform: translateZ(-200px) rotateY(180deg);
  }
  
  .tech-cube:hover .right {
    transform: rotateY(-270deg) translateZ(100px) translateX(100px);
  }
  
  .tech-cube:hover .left {
    transform: rotateY(270deg) translateZ(100px) translateX(-100px);
  }
  
  .tech-cube:hover .top {
    transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
  }
  
  .tech-cube:hover .bottom {
    transform: rotateX(270deg) translateZ(100px) translateY(100px);
  }
  
  .cube > div {
    transition: transform 0.2s ease-in;
  }
  /* End cube */