/* --------- dock --------- */

.dock ul {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.17);
  }
  
  .dock li .tooltip {
    @apply hidden;
    top: calc(-100% - 5px);
  }
  
  .dock li:hover .tooltip {
    @apply block;
    box-shadow: hsla(0deg, 0%, 0%, 20%) 0px 1px 5px 2px, 0 0 0 0 white;
  }