.back {
    color: linear-gradient( to right, rgb(117, 78, 249), #d784af ) !important;
    padding: 2rem 2rem;
    background: linear-gradient(125deg, rgba(0,132,255,.1), #f0f8ff03, #f0f8ff00, rgba(0,132,255,.1));
}

.title {
  max-width: auto;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 2.813rem;
  background-image: linear-gradient( to right, rgb(117, 78, 249), #d784af ) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: 0.4s;
  text-align: center;
}

.title:hover {
  transform: skewX(3deg) skewY(4deg);
  text-shadow: 1rem 1rem 2rem rgb(0 0 0 / 20%);
}

.img-list {
  transition: 0.4s;
  border-radius: 10px;
}

.img-list:hover {
  transform: translateY(-1.5rem) scale(1.03);
}